# API world

In [143]:
import pandas as pd
import ast

In [144]:
df = pd.read_parquet('movies_datasets.parquet')
df.head()
df.columns

Index(['budget', 'genres', 'id', 'original_language', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'release_year', 'release_month', 'return',
       'franchise', 'release_day', 'actores', 'director'],
      dtype='object')

Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.

In [189]:
df['director'].head()

0      john lasseter
1       joe johnston
2      howard deutch
3    forest whitaker
4      charles shyer
Name: director, dtype: object

In [146]:
df_dire_id = df.pivot_table(index='director', values='id', aggfunc=lambda x: list(x)).reset_index()

In [187]:
def get_director(nombre):

    #Pasamos el nombre a minúsculas
    nombre = nombre.lower()

    #Lista de id de peliculas
    list_pelis  = list(df_dire_id['id'][df_dire_id['director'] ==  nombre].values[0])

    #Lista de retornos
    retornos_dire = df[df['id'].isin(list_pelis)]

    # Sumar los retornos del actor elegido
    suma_retornos_dire = retornos_dire['return'].sum()

    columnas = ['title','release_date','budget']

    print('El director %s tuvo un retorno total de %f\n Sus peliculas fueron\n' % (nombre.title(),  suma_retornos_dire),  retornos_dire[columnas].to_string())

In [188]:
get_director('steven spielberg')

El director Steven Spielberg tuvo un retorno total de 309.998086
 Sus peliculas fueron
                                                     title release_date       budget
475                                         jurassic park   1993-06-11   63000000.0
522                                      schindler's list   1993-11-29   22000000.0
1066                           e.t. the extra-terrestrial   1982-04-03   10500000.0
1157                              raiders of the lost ark   1981-06-12   18000000.0
1247                   indiana jones and the last crusade   1989-05-24   48000000.0
1339                                                 jaws   1975-06-18    7000000.0
1476                        the lost world: jurassic park   1997-05-23   73000000.0
1616                                              amistad   1997-12-03   36000000.0
1921                                  saving private ryan   1998-07-24   70000000.0
2008                 indiana jones and the temple of doom   1984-05-23   28000000.0
2627                                     the color purple   1985-12-18   15000000.0
3354                   close encounters of the third kind   1977-11-16   20000000.0
3371                                                 hook   1991-12-11   70000000.0
3618                                the sugarland express   1974-04-05    3000000.0
3978                                    empire of the sun   1987-12-09   35000000.0
4244                         a.i. artificial intelligence   2001-06-29  100000000.0
4439                                               always   1989-12-22   31000000.0
5315                                      minority report   2002-06-20  102000000.0
5857                                  catch me if you can   2002-12-25   52000000.0
6958                                                 1941   1979-12-13   35000000.0
7837                                         the terminal   2004-06-17   60000000.0
8678                                                 duel   1972-10-01     450000.0
8843                             twilight zone: the movie   1983-06-24   10000000.0
10188                                   war of the worlds   2005-06-28  132000000.0
10653                                              munich   2005-12-22   70000000.0
12640  indiana jones and the kingdom of the crystal skull   2008-05-21  185000000.0
18093                            the adventures of tintin   2011-10-25  130000000.0
18179                                           war horse   2011-12-25   66000000.0
19818                                             lincoln   2012-11-09   65000000.0
23142                                       night gallery   1969-04-03          0.0
33395                                     bridge of spies   2015-10-15   40000000.0
38748                                             the bfg   2016-06-01  140000000.0
40259                                      something evil   1972-01-21          0.0

In [72]:
df_actor = pd.read_csv('actores.csv')

In [73]:
df_actor

,actores,id
0,\tcheung chi-sing,[17082]
1,\tdouglas hegdahl,[56235]
2,\trobert osth,[39867]
3,\tyip chun,"[32151, 41387]"
4,jorge de los reyes,[242575]
...,...,...
202728,长泽雅美,"[36091, 20722, 79382, 83389, 208700, 39469, 31..."
202729,陳美貞,[265712]
202730,高桥一生,"[24, 393, 15080, 37797, 36091, 22025, 40701, 2..."
202731,강계열,[306598]
202732,조병만,[306598]

In [131]:
def get_actor(nombre):
    
    #Pasamos a minusculas el nombre del actor
    nombre =  nombre.lower()
    
    #Contamos la cantidad de peliculas en que participó
    cant_peli = df_actor['id'][df_actor['actores'] ==  nombre].apply(len)

    #Lista de id de peliculas
    list_pelis  = ast.literal_eval(df_actor['id'][df_actor['actores'] ==  nombre].values[0])

    # Filtro el DataFrame de retornos para obtener los retornos de las películas del actor elegido
    retornos_actor = df[df['id'].isin(list_pelis)]

    # Sumar los retornos del actor elegido
    suma_retornos_actor = retornos_actor['return'].sum()


    #Promedio de retorno
    media_return  = suma_retornos_actor / cant_peli

    # return retornos_actor
    print('El actor %s ha participado de %i filmaciones, el mismo ha conseguido un retorno de %f con un promedio de %F por filmación' % (nombre.capitalize(),  int(cant_peli.iloc[0]), suma_retornos_actor, media_return))

In [119]:
nombre = 'tom hanks'
list_pelis  = ast.literal_eval(df_actor['id'][df_actor['actores'] ==  nombre].values[0])

[862,
 568,
 13,
 9800,
 858,
 32562,
 9591,
 857,
 11974,
 2619,
 10466,
 29968,
 9489,
 2280,
 56235,
 863,
 9586,
 497,
 11287,
 19259,
 12309,
 40820,
 8358,
 6951,
 65262,
 2565,
 4147,
 640,
 20763,
 10023,
 5516,
 594,
 10905,
 5255,
 30983,
 591,
 920,
 13508,
 35,
 6538,
 16279,
 13448,
 5707,
 10193,
 15302,
 59861,
 64685,
 208988,
 208988,
 83542,
 32694,
 109424,
 213121,
 140823,
 170039,
 77887,
 82424,
 37641,
 130925,
 256835,
 253639,
 339988,
 296098,
 356325,
 357125,
 270010,
 87061,
 363676,
 207932,
 140465,
 305642,
 331214]

In [132]:
get_actor('tom hanks')

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,title,vote_average,vote_count,release_year,release_month,return,franchise,release_day,actores,director
0,30000000.0,"[animation, comedy, family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[pixar animation studios],[united states of america],1995-10-30,373554033.0,...,toy story,7.7,5415.0,1995,10,12.451801,Toy Story Collection,Monday,"[tom hanks, tim allen, don rickles, jim varney...",john lasseter
147,52000000.0,[drama],568,en,The true story of technical troubles that scut...,18.761467,"[imagine entertainment, universal pictures]",[united states of america],1995-06-30,355237933.0,...,apollo 13,7.3,1637.0,1995,6,6.831499,None,Friday,"[tom hanks, bill paxton, kevin bacon, gary sin...",ron howard
351,55000000.0,"[comedy, drama, romance]",13,en,A man with a low IQ has accomplished great thi...,48.307194,[paramount pictures],[united states of america],1994-07-06,677945399.0,...,forrest gump,8.2,8147.0,1994,7,12.326280,None,Wednesday,"[tom hanks, robin wright, gary sinise, mykelti...",robert zemeckis
503,26000000.0,[drama],9800,en,No one would take his case until one man was w...,13.373006,"[tristar pictures, clinica estetico]",[united states of america],1993-12-22,206678440.0,...,philadelphia,7.6,1019.0,1993,12,7.949171,None,Wednesday,"[tom hanks, denzel washington, jason robards, ...",jonathan demme
534,21000000.0,"[comedy, drama, romance]",858,en,A young boy who tries to set his dad up on a d...,10.234919,[tristar pictures],[united states of america],1993-06-24,227799884.0,...,sleepless in seattle,6.5,630.0,1993,6,10.847614,None,Thursday,"[tom hanks, meg ryan, bill pullman, ross malin...",nora ephron
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39487,60000000.0,"[drama, history]",363676,en,"On 15 January 2009, the world witnessed the 'M...",18.275689,"[malpaso productions, warner bros., kennedy/ma...",[united states of america],2016-09-07,238470033.0,...,sully,7.0,2106.0,2016,9,3.974501,None,Wednesday,"[tom hanks, aaron eckhart, laura linney, anna ...",clint eastwood
40959,75000000.0,[thriller],207932,en,"After waking up in a hospital with amnesia, pr...",18.311054,"[columbia pictures, imagine entertainment, mid...","[hungary, united states of america]",2016-10-13,220021259.0,...,inferno,5.7,2316.0,2016,10,2.933617,The Invisible Man (Universal Series),Thursday,"[tom hanks, felicity jones, omar sy, irrfan kh...",ron howard
42887,0.0,[documentary],140465,en,The story of the American activist struggle ag...,1.433433,"[public broadcasting service (pbs), florentine...",[united states of america],2011-10-02,0.0,...,prohibition,7.6,7.0,2011,10,0.000000,None,Sunday,"[adam arkin, philip bosco, patricia clarkson, ...",ken burns
43171,5000000.0,[drama],305642,en,In a small town in California's San Joaquin Va...,3.820453,"[bron studios, pilothouse pictures, apple lane...",[united states of america],2015-10-29,0.0,...,ithaca,5.7,22.0,2015,10,0.000000,None,Thursday,"[sam shepard, hamish linklater, alex neustaedt...",meg ryan
43188,125000000.0,"[action, drama, war]",331214,en,Drawn from interviews with survivors of Easy C...,7.903731,[hbo],"[united kingdom, united states of america]",2001-09-09,0.0,...,band of brothers,8.2,725.0,2001,9,0.000000,None,Sunday,"[damian lewis, ron livingston, frank john hugh...",tom hanks

In [9]:
def score_titulo(titulo_de_la_filmación):
    '''
    Esta función recibe como dato un título de película y devuelve título, año de estreno
    y valoración.
    
    Parámetros:
    titulo_de_la_filmación (str): Título de la película.
    df (DataFrame): DataFrame que contiene la información de las películas.
    
    Retorna:
    None
    '''
    # Cambiamos el valor de titulo_de_la_filmación a lowercase para buscar
    titulo_de_la_filmación = titulo_de_la_filmación.lower()
    # Filtramos el DataFrame para obtener la fila que corresponde al título de la película
    fila_pelicula = df.loc[df['title'] == titulo_de_la_filmación]
    
    # Verificamos si se encontró la película
    if not fila_pelicula.empty:
        # Obtenemos el año de estreno y la popularidad de la película
        result_year = int(fila_pelicula['release_year'].values[0])
        result_popularity = fila_pelicula['popularity'].values[0]
        titulo_de_la_filmación = titulo_de_la_filmación.title()

        
        # Imprimimos la información de la película
        print('La película %s fue estrenada en el año %i, y tuvo una popularidad de %f' % (titulo_de_la_filmación, result_year, result_popularity))
    else:
        print('No se encontró la película con el título "%s"' % titulo_de_la_filmación)

In [10]:
score_titulo('sabrina')

La película Sabrina fue estrenada en el año 1995, y tuvo una popularidad de 6.677277

In [23]:
import unicodedata

In [24]:
def filmaciones_dia(dia: str):
    '''
    Esta función recibe como dato un día de la semana, escrito en español y 
    devuelve la cantidad de peliculas estrenadas ese día en todo el dataset
    
    Parámetros:
    dia (str): Día de la semana en español

    Return:
    str: string con la cantidad de películas'''
    
    #COnvertir dia a lower case
    dia = dia.lower()

    #Eliminar caracteres no deseados
    dia = unicodedata.normalize('NFD', dia).encode('ascii', 'ignore').decode('utf-8')

    #USar un diccionario para relacionar el día de la semana en español a inglés
    dia_ingles = {
        'lunes': 'Monday',
        'martes': 'Tuesday',
        'miercoles': 'Wednesday',
        'jueves': 'Thursday',
        'viernes': 'Friday',
        'sabado': 'Saturday',
        'domingo': 'Sunday'
    }

    #Guardo la cantidad de películas en la variable cantidad
    cantidad_dia = (df['release_day'] == dia_ingles[dia]).sum()
    print('%s cantidad de películas fueron estrenadas en los días %s' % (cantidad_dia, dia.capitalize()))

In [25]:
filmaciones_dia('lunes')

3509 cantidad de películas fueron estrenadas en los días Lunes

In [16]:
def filmaciones_mes (mes: str):
    '''Esta función recive el mes como parámetro y devuelve las 
    filmaciones estrenadas a ese mes
    
    Parámetro:
    mes (str): mes de la filmación. Puede ser 'Enero', 'Febrero', ..., 'Diciembre'

    Retorna:
    int: Cantidad de filmaciones estrenadas ese mes
    '''
    mes_dic = {'enero':1,
               'febrero':2,
               'marzo':3,
               'abril':4,
               'mayo':5,
               'junio':6,
               'julio':7,
               'agosto':8,
               'septiembre':9,
               'octubre':10,
               'noviembre':11,
               'diciembre':12}
    mes = mes.lower()
    return (df['release_month'] == mes_dic[mes]).sum()

In [18]:
filmaciones_mes('agosto')

np.int64(3396)

In [21]:
mes_dic = {'enero':1,
               'febrero':2,
               'marzo':3,
               'abril':4,
               'mayo':5,
               'junio':6,
               'julio':7,
               'agosto':8,
               'septiembre':9,
               'octubre':10,
               'noviembre':11,
               'diciembre':12}
mes_dic['enero']

1

In [22]:
(df['release_month'] == 2).sum()

np.int64(3032)

In [23]:
def score_titulo(titulo_de_la_filmación):
    '''
    Esta función recibe como dato un título de película y devuelve título, año de estreno
    y valoración.
    
    Parámetros:
    titulo_de_la_filmación (str): Título de la película.
    df (DataFrame): DataFrame que contiene la información de las películas.
    
    Retorna:
    None
    '''
    # Cambiamos el valor de titulo_de_la_filmación a lowercase para buscar
    titulo_de_la_filmación = titulo_de_la_filmación.lower()
    # Filtramos el DataFrame para obtener la fila que corresponde al título de la película
    fila_pelicula = df.loc[df['title'] == titulo_de_la_filmación]
    
    # Verificamos si se encontró la película
    if not fila_pelicula.empty:
        # Obtenemos el año de estreno y la popularidad de la película
        result_year = int(fila_pelicula['release_year'].values[0])
        result_popularity = fila_pelicula['popularity'].values[0]
        titulo_de_la_filmación = titulo_de_la_filmación.title()

        
        # Imprimimos la información de la película
        print('La película %s fue estrenada en el año %i, y tuvo una popularidad de %f' % (titulo_de_la_filmación, result_year, result_popularity))
    else:
        print('No se encontró la película con el título "%s"' % titulo_de_la_filmación)

In [67]:
titulo = 'beauty and the beast'

list_indices = df[df['title'] == titulo].index.tolist()
list_indices
for indice in list_indices:
    votos = int(df.loc[indice,'vote_count'])
    if votos > 2000:
        año_estreno = df.loc[indice,'release_year']
        votacion = df.loc[indice,'vote_average']
        print(f'La pelicula {titulo} fue estrenada en el {año_estreno}.La misma cuenta con un total de {votos} valoraciones, con un promedio de {votacion}')
# df.loc[list_indices, 'vote_count'].tolist()

La pelicula beauty and the beast fue estrenada en el 1991.La misma cuenta con un total de 3029 valoraciones, con un promedio de 7.5
La pelicula beauty and the beast fue estrenada en el 2017.La misma cuenta con un total de 5530 valoraciones, con un promedio de 6.8

In [81]:
titulo = 'loco'

mask1 = df['title'] == titulo
mask2 = df['vote_count'] > 1999

lista = df[mask1 & mask2].index.tolist()
if not len(lista) == 0:
    for indice in lista:
        votos = int(df.loc[indice,'vote_count'])
        año_estreno = df.loc[indice,'release_year']
        votacion = df.loc[indice,'vote_average']
        print(f'La pelicula {titulo} fue estrenada en el {año_estreno}.La misma cuenta con un total de {votos} valoraciones, con un promedio de {votacion}')
elif titulo in df['title'].values:
    print('La película posee menos de 2000 valoraciones')
else:
    print('La película no existe en la base de datos')

La película no existe en la base de datos

In [ ]:
def recomendador(titulo: str):

    titulo = titulo.lower()